* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #f2f7f7;
  animation-name: body;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@keyframes body {
  50% {
    background-color: #777;
  }
  100% {
    background-color: #f2f7f7;
  }
}

/*header*/

header {
  width: 100%;
  box-shadow: 0 0 5px #1416, 0 0 2px #1416;
}

ul {
  display: flex;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

p {
  opacity: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 5px;
  text-transform: capitalize;
  font-weight: bold;
  transition: 0.5s;
}

img.icon {
  border-radius: 20%;
  width: 30px;
  padding: 5px;
  margin-top: -25px;
  background: transparent;
  box-shadow: 0 0 5px #fff, 0 0 5px #1416;
  transition: 0.3s;
}

#uno:hover img.icon {
  width: 70px;
  padding: 15px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px #ccc, 0 0 5px #424242;
}

#uno:hover p {
  opacity: 1;
}

#dos:hover img.icon {
  width: 70px;
  padding: 15px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px #ccc, 0 0 5px #424242;
}

#dos:hover p {
  opacity: 1;
}

#tres:hover img.icon {
  width: 70px;
  padding: 15px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px #ccc, 0 0 5px #424242;
}

#tres:hover p {
  opacity: 1;
}

#cuatro:hover img.icon {
  width: 70px;
  padding: 15px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px #ccc, 0 0 5px #424242;
}

#cuatro:hover p {
  opacity: 1;
}

/*degradados*/

#uno {
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, #000, #00a6d6);
}

#dos {
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, #00a6d6, #cf3476);
}

#tres {
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, #cf3476, #ffff00);
}

#cuatro {
  width: 100%;
  height: 55px;
  background: linear-gradient(to right, #ffff00, #000);
}

/*div*/

div {
  display: flex;
  margin: 45px auto;
}

div.cubo {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0 0 5px #1416, 0 0 2px #1416;
}

img.vash {
  width: 100%;
}

div.foto {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

h3 {
  padding: 5px;
  text-align: center;
  font-family: cursive;
  font-size: 18px;
  font-weight: initial;
  text-transform: capitalize;
  color: #aabdbf;
}

/*porcentajes*/

div.cuadrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 10vh;
  width: 800px;
  height: 1000px;
  background-color: #fff;
  box-shadow: 0 0 5px #1416, 0 0 2px #1416;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  margin-top: 35px;
  color: #424242;
  text-transform: capitalize;
}

h1::after,
h1::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  top: 230px;
  background-color: #424242;
  justify-content: center;
}

h1::before {
  left: 665px;
}

h1::after {
  right: 230px;
}

hr {
  border: 1px dashed #cccc;
  position: relative;
  top: 20px;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  padding: 15px;
  line-height: 30px;
  color: #424242;
}

div.degradado {
  position: relative;
  top: 5%;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 600px;
  justify-content: space-around;
  background: linear-gradient(
    to right top,
    #777,
    rgba(255, 255, 255, 0.1),
    #777
  );

  /*background: linea
  r-gradient(to left, #1416, rgba(0, 0, 0, 0), #23baca);*/
}

div.card {
  position: relative;
  width: 200px;
  display: flex;
  margin: 10px;
  top: 2.5%;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  height: 220px;
  box-shadow: 0 0 2px #424242, 0 0 2px #424242;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.3s;
}

div.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 35px #424242;
}

div.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  z-index: 1;
}

div.percent {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

div.card:hover div.percent {
  box-shadow: inset 0 0 15px #777;
}
div.numbre {
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

div.numbre h2 {
  opacity: 0;
  color: #777;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
  transition: 0.3s;
}

div.card:hover div.numbre h2 {
  opacity: 1;
  color: #fff;
  font-size: 45px;
}

div.percent div.numbre h2 span {
  font-size: 15px;
  color: #777;
  transition: 0.3s;
  margin-left: -5px;
}

div.card:hover div.percent div.numbre h2 span {
  font-size: 25px;
  color: #fff;
  margin-left: -10px;
}

svg {
  position: absolute;
  width: 130px;
  height: 130px;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #1b1b1b;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  box-shadow: inset 0 0 15px #ccc;
}

h2.text {
  position: relative;
  left: 45px;
  top: 120px;
  color: #777;
}

h2.texts {
  position: relative;
  left: 16px;
  top: 120px;
  color: #777;
}

h2.texto {
  position: relative;
  left: 10px;
  top: 120px;
  color: #777;
}

h2.textt {
  position: relative;
  left: 40px;
  top: 120px;
  color: #777;
}

h2.textss {
  position: relative;
  left: 50px;
  top: 120px;
  color: #777;
}

h2.textoo {
  position: relative;
  left: 18px;
  top: 120px;
  color: #777;
}

div.card:hover .text {
  color: orange;
}

div.card:hover .texts {
  color: #ccc;
}

div.card:hover .texto {
  color: #cf3476;
}

div.card:hover .textt {
  color: #008000;
}

div.card:hover .textss {
  color: #00a6d6;
}

div.card:hover .textoo {
  color: yellow;
}

svg circle:nth-child(2) {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 60) / 100);
  stroke: #008000;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 40) / 100);
  stroke: #ccc;
}
.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 40) / 100);
  stroke: #cf3476;
}
.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 50) / 100);
  stroke: orange;
}
.card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 60) / 100);
  stroke: #00a6d6;
}
.card:nth-child(6) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 15) / 100);
  stroke: yellow;
}

/*respopnsive*/
@media (max-width: 700px) {
  header {
    width: 100%;
    height: 100%;
  }

  div{
    flex-direction: column;
  }
  div.cuadrado {
    width: 500px;
    height: 980px;
  }
  div.degradado {
    top: -3%;
  }
  div.card {
    top: 0;
    width: 140px;
  }
  h1 {
    margin-top: 90px;
  }
  svg circle{
    stroke-width: 6;
  }
  div.card:hover div.percent {
    box-shadow: inset 0 0 5px #777;
  }
  h1::before,
  h1::after {
    display: none;
  }
}
