footer
  display: flex
  justify-content: space-around
  align-items: center
  border: 1px solid rgba(0, 0, 0, .10)
  figure
    img
      width: 1.2rem
      margin: .4rem
  figure
    display: flex
    width: 41vw
    margin: 1rem
    box-shadow: 0 0 0
    span
      position: relative
      font-size: .8em
      color: #000
