// *
// @include body()

.rectangulo
    display: flex
    justify-content: space-evenly
    width: 99vw
    height: 85vh
    margin: 5px

figure.son
    display: flex
    flex-direction: column
    flex: 1
    overflow: hidden
    margin: 10px
    box-shadow: $sombra
    transition: 2s
    transition-delay: 0.3s
    &:hover
        flex: 100%
        box-shadow: 0 0 0
    &:hover
        #one
            width: 40vw
            height: 82vh
            transform: translate(26rem)
            box-shadow: $sombra
        #two
            width: 40vw
            height: 82vh
            transform: translate(24rem)
            box-shadow: $sombra
        #three
            width: 50vw
            height: 82vh
            transform: translate(20rem)
            box-shadow: $sombra
        #four
            width: 40vw
            height: 82vh
            transform: translate(22rem)
            box-shadow: $sombra
        #five
            width: 30vw
            transform: translate(25rem)
            box-shadow: $sombra

    &:hover
        span.name
            opacity: 0

img.drew
    width: 19vw
    height: 72vh
    object-fit: cover
    transition: 1s
    transition-delay: 0.3s

span.name
    font-size: 2.3rem
    font-weight: bold
    text-transform: capitalize
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
    text-align: center
    color: rgb(201, 200, 178)
    text-shadow: $showdo
    transition: 1.9s
